/* 
    Paleta de Cores:
    - Roxo Escuro #2E0D23
    - Roxo Leve #635274
    - Azul NavBar #2C3443
    - Branco Fundo #FFFEDF
    - Cinza Claro #D7D8C5
    - Verde Água #70AA87
    - Verde Água Leve #CDECCC
    - Verde #55FF45
    - Amarelo #FFB145
    - Vermelho #F21D41
*/

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin:0;
    padding:0;
}

header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(99,82,116,1) 100%);
    z-index: -1;
    width: 100%;
    box-shadow: 1px 1px 10px 1px #2c344379;
    display: inline-block;
    overflow: hidden;
}

header nav img {
    width: 180px;
    padding: 10px;
}

nav ul {
    color: #FFFEDF;
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    float: right;
}

nav ul a {
    list-style-type: none;
    padding: 15px;
    border-radius: 10px;
    margin: 9px 5px 5px 5px;
    display: inline-block;
    text-decoration: none;
}

nav ul a:last-child {margin: 9px 10px 5px 5px;}

nav ul a:hover {background-color: rgba(2,0,36,1);}

main {
    margin: 20px;
    padding: 15px;
    width: 60vw;
}

main div#banner-principal div.banner-image {
    width: 100%; 
    height: 400px;
    background-image: url(imagens/notícias/banner-triangulo.png);
    background-position: center top;
    background-size: 100% auto; /* 100% da imagem no banner */
    transition: 0.5s ease;
}

main div#banner-principal div.banner-image:hover {
    box-shadow: 1px 1px 10px 1px #2c344379;
    transform: scale(1.05);
}

main div#banner-principal {
    position: relative;
}

main div#banner-principal h2 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    visibility: hidden;
}

main a, main a:visited, main a:target {
    text-decoration: none;
    color: #FFFEDF;
}

